# Ignorar directorio de logs y caché
writable/logs/
writable/cache/

# Ignorar base de datos local o backups
*.sql

# Ignorar entorno local
.env

# Ignorar dependencias si ya usas Composer lock
/vendor/

# Ignorar archivos de PHPUnit cache
.phpunit.result.cache
build/

# Archivos temporales y del editor
*.swp
*.swo
*.bak
*.tmp
*.DS_Store
*.vscode/
