/* Para pantallas grandes (desktop) /
@media (min-width: 1024px) {
  body {
    background-color: lightblue;
  }
}

/ Para tablets /
@media (max-width: 1023px) and (min-width: 768px) {
  body {
    background-color: lightgreen;
  }
}

/ Para móviles */
@media (max-width: 767px) {
    body {
      background-color: powderblue;
}

}#formulario{
    width: 100%;
    height: 300px;
    background-color: beige;
    font-family: "Francois One", sans-serif;
    color: olive;
    float: left;
    margin-left: 600px;
    padding-top: 25px;
    padding-left: 60px;

}

input{
    display: block;
    height: 30px;
    margin-top: 20px;
    width: 450px;

}

#botonEnviar{
    width: 150px;
    border-style: inset;
    background-color: #F3D3B8;
}
body {
    display: flex; /* Usamos flexbox para centrar fácilmente */
    flex-direction: column; /* Alineamos los elementos en columna */
    justify-content: center; /* Centramos verticalmente */
    align-items: center; /* Centramos horizontalmente */
    height: 100vh; /* Aseguramos que el body ocupe toda la altura de la ventana */
    margin: 0; /* Eliminamos márgenes predeterminados */
    font-family: sans-serif; /* Fuente más legible */
}
    
h1 {
    text-align: center; /* Centramos el título */
    margin-bottom: 20px; /* Añadimos espacio debajo del título */
}
    
a {
    margin: 10px; /* Añadimos espacio alrededor de los enlaces */
    padding: 10px 20px; /* Añadimos relleno a los enlaces para que sean más grandes */
    border: 1px solid #ccc; /* Añadimos un borde sutil */
    text-decoration: none; /* Quitamos el subrayado de los enlaces */
    color: #333; /* Color del texto */
    border-radius: 5px; /* Bordes redondeados */
}
    
a:hover {
    background-color: #f0f0f0; /* Cambiamos el fondo al pasar el ratón */
}

.pie {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 40px 20px;
    margin-top: 50px;
}

.pie h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.pie p {
    font-size: 16px;
    margin: 10px 0;
}

.pie a {
    color: #ff6347;
    text-decoration: none;
    transition: color 0.3s;
}

.pie a:hover {
    color: #ffffff; /* Cambia a blanco al pasar el ratón */
}

.header {
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

.logo h1 {
    font-size: 24px;
    font-weight: bold;
}
.logout {
    text-align: right;
    margin-top: 20px;
}
.logout a {
color: red;
text-decoration: none;
}
